@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --white:  hsl(0, 0%, 100%);
   --Light-gray: hsl(212, 45%, 89%);
   --Grayish-blue:hsl(220, 15%, 55%);
   --Dark-blue: hsl(218, 44%, 22%);
   --font-Outfit: 'Outfit', sans-serif;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 1rem;
   min-height: 100vh;
   background-color: var(--Grayish-blue);
   font-family: var(--font-Outfit);
}

section{
   max-width: 20rem;
   background-color: var(--white);
   border-radius: 1rem;
   padding: 1rem;
}

.img-container img{
   display: block;
   max-width: 100%;
   border-radius: 0.8rem;
}

.content{
   padding: 1rem;
}

.content h2{
   padding-bottom: 1rem;
   font-size: 1.3rem;
   color: var(--Dark-blue);
}

.content p{
   color: var(--Grayish-blue);
   font-weight: 500;
   font-size: 0.95rem;
}


